html
  head
    title menu
    link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
    link(rel="stylesheet", href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css")
    script(defer,src="https://code.getmdl.io/1.3.0/material.min.js")
    link(rel="stylesheet", type="text/css", href="/static/styles/style.css")

  body

    nav
      img(src="/static/images/logo.png")
    
    br
    br
    
    h1 Summary 
    section.menu-content
      div
        table.mdl-data-table.mdl-js-data-table
          thead
            tr.menu-title
              th.menu-title-text(colspan=2) menu
          tbody
            tr.menu-item-content
              td.menu-item-data
                label.menu-item-title Deanna
                p.menu-item-description Chicken burger and a chocolate milkshake
                label.menu-item-price $18.95
              td.menu-item-content
                label.menu-item-title You earn $1
            tr.menu-item-content
              td.menu-item-data
                label.menu-item-title Jonathan
                p.menu-item-description Laksa and a regular latte
                label.menu-item-price $12.45
              td.menu-item-content
                label.menu-item-title You earn $1
            tr.menu-item-content
              td.menu-item-data
                label.menu-item-title Rowena
                p.menu-item-description Teriyaki chicken with rice and mango smoothie
                label.menu-item-price $24.00
              td.menu-item-content
                label.menu-item-title You earn $1
                  
    br
    //button#Confirm.mdl-button.mdl-js-button Thank You!
    h2 Thank You!
      
    
