body{
    text-align: center;
    background-color: black;
    color: white;
    font-family: Roboto, verdana;
}

#ProfileCard{
    margin: 0 auto;
    color: black;
}

#accent-grey {
    color: #3a3a3a;
}

#accent-red {
    background: #9a0606;
}

#DeliverTable{
    background-color:grey;
    margin: 0 auto;
    min-width: 400px;
    width: 80%;
}

nav{
    min-height: 100px;
    height: 15%;
    margin: 0 auto;
}

/* MENU */

.menu-item {
	width: 100%;
	cursor: pointer;
	background-color: #F5F5F5;
}

.menu-item:hover {
	background-color: #E0E0E0!important;
}

.menu-item-select {
    margin: 0 0;
    width: 100%;
}

.menu-item-data {
    text-align: left!important;
    text-align: center;
    background-color: black;
    color: white;
    font-family: Roboto, verdana;
}

.menu-item-title {
	font-size: 1.2em;
    color: #616161;
	margin: 0;
}

.menu-item-description {
	font-size: 1em;
    color: #757575;
	margin: 0;
}

.menu-item-price {
	font-size: 0.8em;
    color: #757575;
	margin: 0;
}

.menu-title {
	background-color: #FAFAFA;
	width: 100%;
	column-span: all;
}

.menu-title-text {
	text-align: center!important;
	font-weight: bold!important;
	font-size: 1.5em!important;
}

.menu-title > th:first-child {
	display: none;
}

.menu-item-content > td:first-child {
	text-align: left;
	width: 1% /* forces nice spacing */
}

/* END MENU */


/* WHERE TO */

.submit-row {
	background-color: #9E9E9E;
}

.submit-row:hover {
	background-color: #9E9E9E;
}

.submit-btn {
	width: 100%;
	color: white;
}

/* END WHERE TO */

#Order{color: white; font-size: 120%; height: 10%; min-height: 100px; width: 30%; min-width: 120px;}
#PickUp {color: white; font-size: 120%; height: 10%; min-height: 100px; width: 30%; min-width: 120px;}
#Middle {margin: 0;}

.cafe-card {
    margin: 0 auto;
}


video#bgvid {
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    -ms-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    background: url(polina.jpg) no-repeat;
    background-size: cover;
}

@media screen and (max-device-width: 800px) {
    html {
        background: url(polina.jpg) #000 no-repeat center center fixed;
    }
    #bgvid {
        display: none;
    }
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    background: black;
}

.demo-card-square > .broadway {
    background:
        url('../images/broadway.jpg') bottom left / cover;
}

.demo-card-square > .tastebaguette {
    background:
        url('../images/tastebaguette.jpg') center / cover;
}

.demo-card-square > .carslawkitchen {
    background:
        url('../images/carslawkitchen.jpg') center / cover;
}

.demo-card-square > .parma {
    background:
        url('../images/parma.jpg') bottom center / cover;
}

.demo-card-square > .azuri {
    background:
        url('../images/azuri.jpg') top / cover;
}

.demo-card-wide.mdl-card {
    width: 512px;
}

.demo-card-wide > .mdl-card__title {
    color: #fff;
    height: 176px;
    background: url('../assets/demos/welcome_card.jpg') center / cover;
}

.demo-card-wide > .mdl-card__menu {
    color: #fff;
}

.cafe-card {
    margin: 0 auto!important;
}
