
body{
    text-align: center;
    margin: 25%;
    background-color: black;
    color: white;
    font-family: Roboto, verdana;
}

.demo-card-square.mdl-card {
    width: 320px;
    height: 320px;
}

.demo-card-square > .mdl-card__title {
    color: #fff;
    background:
        url('../assets/demos/dog.png') bottom right 15% no-repeat #46B6AC;
}

.cafe-card {
    margin: 0 auto;
}

